<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Online Shop Rider E-commerce Bootstrap Template</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>
<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="header-top-left">
                        <div class="contact"><a href="#">Family 4</a> <span class="hidden-xs hidden-sm hidden-md">(029)883-8920</span></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <ul class="header-top-right text-right">
                        <li class="account"><a href="login.html">Tài Khoản</a></li>
                        <li class="language dropdown"> <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Ngôn Ngữ <span class="caret"></span> </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Tiếng Việt</a></li>
                                <li><a href="#">German</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="main-search mt_40">
                        <input id="search-input" name="search" value="" placeholder="Tìm Kiếm" class="form-control input-lg" autocomplete="off" type="text">
                        <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
            </span> </div>
                </div>
                <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" th:href="@{/}"> <img alt="Online Shop Family 4" src="images/family4.jpg"> </a> </div>
                <div class="col-xs-6 col-sm-4 shopcart">
                    <div id="cart" class="btn-group btn-block mtb_40">
                        <button type="button" class="btn" data-target="#cart-dropdown" data-toggle="collapse" aria-expanded="true">
                            <span id="shippingcart">Giỏ Hàng</span>
                            <span id="cart-total">Số Lượng
                    <th:block th:if="${giohang}">
                      <span th:text="${giohang.size}"></span >
                    </th:block>
                    <th:block th:unless="${giohang}">
                      <span> 0</span >
                    </th:block>
                  </span>
                        </button>
                    </div>
                </div>
                <div id="cart-dropdown" class="cart-menu collapse">
                    <ul>
                        <li>
                            <table class="table table-striped">
                                <tbody>
                                <th:block th:each="item : ${giohang}">
                                    <tr>
                                        <!--<td class="text-center"><a href="#"><img src="images/product/70x84.jpg" alt="iPod Classic" title="iPod Classic"></a></td>-->
                                        <td class="text-left product-name">
                                            <span class="text-left price" th:text="${item.menu.tenMon}"></span>
                                            <span class="text-left price" th:text="${item.menu.giaBan}"></span>
                                            <input class="cart-qty" name="product_quantity" min="1" th:value="${item.soLuong}" type="number" >
                                        </td>
                                        <!--<td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>-->
                                        <td class="text-right" >Tổng Tiền: </td>
                                        <td class="text-right" th:text="${item.tongTien}">VNĐ</td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </li>

                        <li>
                            <form action="xemGioHang">
                                <input class="btn pull-left mt_9" value="Xem Giỏ" type="submit">
                            </form>
                            <form action="thanhToan">
                                <input class="btn pull-right mt_10" value="Thanh Toán" type="submit">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <p>Menu</p>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
            <div class="collapse navbar-collapse js-navbar-collapse">
                <ul id="menu" class="nav navbar-nav">
                    <li> <a th:href="@{/}">Trang Chủ</a></li>
                    <li> <a th:href="@{/#monan}">Món ăn</a></li>
                    <li> <a th:href="@{/#nuocuong}">Nước uống</a></li>

                </ul>
            </div>
            <!-- /.nav-collapse -->
        </nav>
    </div>
</header>
<div class="logo__shop" style="background-color:#efeae2">
    <img src="/img/family4.jpg" alt="">
</div>

<main role="main">
    <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
    <div class="container mt-4">
        <form class="needs-validation" name="thanhToan" method="post" action="/thanhToan">
            <input type="hidden" name="TAIKHOAN">
            <div class="py-5 text-center">
                <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                <h2>Thanh toán</h2>
                <p class="lead">Vui lòng điền lại chính xác thông tin của bạn trước khi Đặt hàng.</p>
            </div>

            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Giỏ hàng</span>
                    </h4>
                    <th:block th:if="${giohang}">
                        <span th:text="${'Tổng số món:'+giohang.size}"></span >
                        <br>
                        <span class="footer-heading" th:text="${'Tổng tiền hàng:'+total}"></span>
                    </th:block>
                </div>
                <div class="col-md-8 order-md-1" style="font-size:15px;">
                    <h4 class="mb-3">Thông tin khách hàng</h4>
                            <div class="form-group p15__button0">
                                <input type="date" name="ngayHenGiao" class="form-input p15" placeholder="Ngày hẹn giao" >
                            </div>
                            <button type="submit" class="btn-primary" style="text-align: center;" >Đặt hàng</button>
                    </div>
            </div>
        </form>

    </div>
    <!-- End block content -->
</main>
<!-- =====  CONTAINER END  ===== -->
<!-- =====  FOOTER START  ===== -->
<div class="footer pt_60">
    <div class="container">
        <div class="row">
            <div class="footer-top pb_60 mb_30">
                <div class="col-xs-12 col-sm-6">
                    <div class="footer-logo"><img src="images/family4.jpg" alt="Shop Family 4"></div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="footer-bottom mt_60 ptb_20">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="payment-icon text-right">
                        <ul>
                            <li><i class="fa fa-cc-paypal "></i></li>
                            <li><i class="fa fa-cc-visa"></i></li>
                            <li><i class="fa fa-cc-discover"></i></li>
                            <li><i class="fa fa-cc-mastercard"></i></li>
                            <li><i class="fa fa-cc-amex"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =====  FOOTER END  ===== -->
</div>

</body>

</html>