<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Online Shop Family4</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleCB.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body class="shop-detail">
<!-- =====  LODER  ===== -->
<div class="loder"></div>
<div class="wrapper">
    <!-- =====  HEADER START  ===== -->
    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="header-top-left">
                            <div class="contact"><a href="#">Family 4</a> <span class="hidden-xs hidden-sm hidden-md">(029)883-8920</span></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <ul class="header-top-right text-right">
                            <li class="account"><a href="login.html">Tài Khoản</a></li>
                            <li class="language dropdown"> <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Language <span class="caret"></span> </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Tiếng Việt</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="main-search mt_40">
                            <input id="search-input" name="search" value="" placeholder="Tìm Kiếm" class="form-control input-lg" autocomplete="off" type="text">
                            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
              </span> </div>
                    </div>
                    <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" th:href="@{/}"> <img alt="Online Shop Family 4" th:src="@{/images/family4.jpg}"> </a> </div>
                    <div class="col-xs-6 col-sm-4 shopcart">
                        <div id="cart" class="btn-group btn-block mtb_40">
                            <button type="button" class="btn" data-target="#cart-dropdown" data-toggle="collapse" aria-expanded="true">
                                <span id="shippingcart">Giỏ Hàng</span>
                                <span id="cart-total">Số Lượng
                                    <th:block th:if="${giohang}">
                                        <span th:text="${giohang.size}"></span >
                                    </th:block>
                                    <th:block th:unless="${giohang}">
                                        <span> 0</span >
                                    </th:block>

                                    </span>
                            </button>
                        </div>
                        <div id="cart-dropdown" class="cart-menu collapse">
                            <ul>
                                <li>
                                    <table class="table table-striped">
                                        <tbody>
                                        <th:block th:each="item : ${giohang}">
                                            <tr>
                                                <td class="text-left product-name">
                                                    <span class="text-left price" th:text="${item.menu.tenMon}"></span>
                                                    <span class="text-left price" th:text="${item.menu.giaBan}"></span>
                                                    <input class="cart-qty" name="product_quantity" min="1" th:value="${item.soLuong}" type="number">
                                                </td>
                                                <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                                                <td class="text-right"><strong>Tổng Tiền: </strong></td>
                                                <td class="text-right" th:text="${item.tongTien}" >VNĐ</td>
                                            </tr>
                                        </th:block>
                                    </table>
                                </li>

                                <li>
                                    <form th:action="@{xemGioHang}">
                                        <input class="btn pull-left mt_9" value="Xem Giỏ" type="submit">
                                    </form>
                                    <form th:action="@{thanhToan}">
                                        <input class="btn pull-right mt_10" value="Thanh Toán" type="submit">
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="navbar">
                    <p>Menu</p>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
                    <div class="collapse navbar-collapse js-navbar-collapse">
                        <ul id="menu" class="nav navbar-nav">
                            <li> <a th:href="@{/}">Trang Chủ</a></li>
                            <li> <a th:href="@{/#monan}">Món ăn</a></li>
                            <li> <a th:href="@{/#nuocuong}">Nước uống</a></li></ul>
                    </div>
                    <!-- /.nav-collapse -->
                </nav>
            </div>
        </div>
    </header>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <div class="row ">
            <!-- =====  BANNER STRAT  ===== -->
            <div class="col-sm-12">
                <div class="breadcrumb ptb_20">
                    <h1>Chi Tiết Món Ăn</h1>
                    <ul>
                        <li><a th:href="@{/}">Trang Chủ</a></li>
                        <li><a th:href="@{/}">Chi Tiết Món Ăn</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 col-lg-9 mtb_20">
                <div class="row mt_10 ">
                    <div class="col-md-6">
                        <div><a class="thumbnails"> <img data-name="product_image" width="100%" th:src="@{${'/' + products.hinhAnh}}" alt="" /></a></div>
                    </div>
                    <div class="col-md-6 prodetail caption product-thumb">
                        <h4 data-name="product_name" class="product-name">
                            <a href="#" title="Casual Shirt With Ruffle Hem" th:text="${products.tenMon}"></a>
                        </h4>
                        <div class="rating">
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span>
                        </div>
                        <span class="price mb_20">
                            <span class="amount">
                                <span class="currencySymbol" th:text="${products.giaBan}">
                                </span>
                            </span>
                        </span>
                        <div id="product " >
                            <div class="form-group">
                                <div class="row">
                                </div>
                            </div>
                            <div class="qty mt_30 form-group2">
                                <label>Số Lượng:</label>
                                <label name="product_quantity" min="1" value="1" type="number">1</label>
                            </div>
                            <div class="btn btn-default" style="margin:15px;border-radius:5px;"><a th:href="@{/themvaogiohang/{id}/{soLuong}(id=${products.id}, soLuong=1)}"><span>Thêm Vào Giỏ hàng</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =====  CONTAINER END  ===== -->
        <!-- =====  FOOTER START  ===== -->
    </div>
    <!-- =====  FOOTER END  ===== -->
</div>
<a id="scrollup"></a>
<!--chatbot-->
<script src="js/jQuery_v3.1.1.min.js"></script>
<script src="js/chatFrame.js"></script>
<button id="openButton" class="open-button btn btn-info btn-circle btn-circle-xl m-1">Chat</button>

<div class="chat-popup form-container" id="myForm">
    <h1>Chat</h1>

    <div id="chatbox">
        <p class="botText">
            <ion-icon class="icon__bot" name="headset-outline"></ion-icon>
            <span>
                Xin chào, tôi là Family4 đây.</br>Bạn cần Family4 giúp gì nào?</span>
        </p>
    </div>

    <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Nhập tin nhắn">
    </div>

    <button id="buttonInput" type="submit" class="btn">Send</button>
    <button type="button" id="closeButton" class="btn cancel">Close</button>

</div>
<!--End Chatbot-->
<script src="/js/jQuery_v3.1.1.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>